doctype html

head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Projeto Loja
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='css/all.min.css')
  link(rel='stylesheet', href='css/style.css')
  script(src='js/jquery-3.4.1.min.js')
  script(src='js/bootstrap.min.js')

body.bg-blue-grey-lighten-5
nav.navbar.navbar-expand-lg.navbar-dark.bg-blue-grey-darken-3.shadow
  .container
    a.navbar-brand(href='/') Projeto Loja
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarTogglerDemo01.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.dropdown.active
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Categorias
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            each categoria in categorias
              a.dropdown-item(href='?categoria='+categoria.id)= categoria.nome
        a.nav-link(href='#', data-toggle='modal', data-target='#modalModCategoria')
          | Adicionar
          | Categoria
        a.nav-link(href='#', data-toggle='modal', data-target='#modalModProduto')
          | Adicionar
          | Produto
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(name="pesquisa" type='search', aria-label='Search')
        button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Pesquisar
section.container.mt-4
  div
    if categoriaAtual
      each categoria in categorias
        if categoriaAtual == categoria.id
          form#excluirCategoria(action="/", method="post")
            input(type="hidden", name="excluirIDcategoria" value=categoria.id)
          h1
            | #{categoria.nome} - 
            button.btn.btn-danger.shadow(type='submit' form="excluirCategoria") Excluir Categoria
            |  - 
            button.btn.btn-primary.shadow(href='#', data-toggle='modal', data-target='#modalModCategoria', data-id=categoria.id) Editar Categoria
    else if pesquisa
      h1 Resultados de: #{pesquisa}
    else
      h1 #{tituloPagina}
  .row
    each produto in listaProdutos
      .col-lg-3.col-md-4.col-6.mt-3
        .card.border-0.shadow.product-card
          each foto in fotos
            if foto.id == produto.id
              img.card-img(src=foto.url)
          .card-img-overlay.h-100.d-flex.flex-column.justify-content-end.text-center
            .bg-white.p-3.rounded
              h5.card-title.card-title-overlay
                | #{produto.nome} - 
                span.badge.badge-secondary R$ #{produto.valor}
              button.btn.btn-outline-secondary(type='button', data-toggle='modal', data-target='#modalProduto', data-id=produto.id) Ver Mais
  .row.py-3
    nav.mx-auto(aria-label='Page navigation example')
      if qtdPaginas > 1
        if categoriaAtual
          - var pageLink = '&categoria='+categoriaAtual
        else if pesquisa
          - var pageLink = '&pesquisa='+pesquisa
        else
          - var pageLink = ''
        ul.pagination.shadow
          unless paginaAtual == 1
            li.page-item
              a.page-link.text-secondary(href='?page='+(parseInt(paginaAtual) - 1)+pageLink, aria-label='Previous')
                span(aria-hidden='true') &laquo;
          - for(var i = 1; i <= qtdPaginas; i++)
            li.page-item
              if i == paginaAtual
                a.page-link.bg-dark.text-light(href='#')= i
              else
                a.page-link.text-secondary(href='?page='+i+pageLink)= i
          unless paginaAtual == qtdPaginas
            li.page-item
              a.page-link.text-secondary(href='?page='+(parseInt(paginaAtual) + 1+pageLink), aria-label='Next')
                span(aria-hidden='true') &raquo;
// Modal de Produto
#modalProduto.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalProdutoLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content.bg-blue-grey-darken-3.text-light.shadow
      .modal-header
        h5#modalProdutoLabel.modal-title
          span#modalNomeProduto Nome do Produto
          |  - 
          span#modalPrecoProduto.badge.badge-secondary Pre&ccedil;o
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span.text-light(aria-hidden='true') &times;
      .modal-body
        .row
          .col-md-6
            .img-thumbnail.shadow
              #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
                #carouselProduto.carousel-inner
                a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.sr-only Next
          .col-md-6
            p
              span.h5 Fabricante: 
              span#modalFabricanteProduto
            p
              span.h5 Descri&ccedil;&atilde;o: 
              span#modalDescricaoProduto
      .modal-footer
        span#modalFotoProduto
        span#modalExcluirProduto
        span#modalEditarProduto
        button.btn.btn-secondary(type='button' data-dismiss='modal') Fechar
// Modal de Modificar Categoria
#modalModCategoria.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalModCategoriaLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content.bg-blue-grey-darken-3.text-light.shadow
      .modal-header
        h5#modalModCategoriaLabel.modal-title Adicionar Categoria
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span.text-light(aria-hidden='true') &times;
      .modal-body
        form#frmCategoria(method='POST')
          fieldset
            .form-group
              label(for='categoriaNome') Nome
              input#categoriaNome.form-control.shadow(type='text' name='categoriaNome' value='')
            #categoriaID
      .modal-footer
        button.btn.btn-primary(type='submit' form="frmCategoria") Salvar
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
// Modal de Modificar Produto
#modalModProduto.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalModProdutoLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content.bg-blue-grey-darken-3.text-light.shadow
      .modal-header
        h5#modalModProdutoLabel.modal-title Adicionar Produto
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span.text-light(aria-hidden='true') &times;
      .modal-body
        form#frmProduto(method='POST')
          fieldset
            .form-group
              label(for='produtoCategoria') Categoria
              select#produtoCategoria.form-control.shadow(name='produtoCategoria')
                each categoria in categorias
                  option(value=categoria.id)= categoria.nome
            #produtoID
            .form-group
              label(for='produtoNome') Nome
              input#produtoNome.form-control.shadow(type='text' name='produtoNome')
            .form-group
              label(for='produtoDescricao') Descri&ccedil;&atilde;o
              textarea#produtoDescricao.form-control.shadow(name='produtoDescricao')
            .form-group
              label(for='produtoValor') Valor
              input#produtoValor.form-control.shadow(type='number' name='produtoValor' step='0.01')
            .form-group
              label(for='produtoFabricante') Fabricante
              input#produtoFabricante.form-control.shadow(type='text' name='produtoFabricante')
      .modal-footer
        button.btn.btn-primary(type='submit' form="frmProduto") Salvar
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
// Modal de Modificar Foto
#modalModFoto.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalModFotoLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content.bg-blue-grey-darken-3.text-light.shadow
      .modal-header
        h5#modalModFotoLabel.modal-title Adicionar foto
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span.text-light(aria-hidden='true') &times;
      .modal-body
        form#frmFotoProduto(method='POST' enctype='multipart/form-data')
          fieldset
            #nomeFotoID
            .form-group
              input#produtoFoto.form-control(type='file' name='produtoFoto' accept='image/*')
      .modal-footer
        button.btn.btn-primary(type='submit' form='frmFotoProduto') Salvar
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
if resposta
  .toast(role='alert', aria-live='assertive', aria-atomic='true', data-delay='5000', style='position: absolute; top: 1rem; right: 1rem;')
    .toast-header
      strong.mr-auto= resposta
      button.ml-2.mb-1.close(type='button', data-dismiss='toast', aria-label='Close')
        span(aria-hidden='true') &times;
script(src='/js/action.js')